extends ../layout/main

block variables
  - var page = 'add-product';
  - var title = '新增代購商品';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block style
  link(rel="stylesheet", href="assets/plugins/custom/uppy/uppy.bundle.css")

block content
  // begin::Container
  #kt_content_container.container-xxl
    // begin::Table
    .card.card-custom.mt-6.mt-xl-9
      // begin::Card header
      .card-header.border-0
        //- .card-title
        //-   h3.card-label Basic Demo
        .card-toolbar.ml-auto
          button.btn.btn-light-primary 新增代購
      //- .card-header.mt-5.border-0
      //-   // begin::Card title
      //-   .card-title.flex-column
      //-     h3.fw-bolder.mb-1 #{title}
      //-     //- .fs-6.text-gray-400 Total $260,300 sepnt so far
      //- // end::Card header
      // begin::Card body
      .card-body
        .row.justify-content-center
          .col-lg-8
            .form-group.row
              .col-lg-3
                label.col-form-label
                  span 圖片
              .col-lg-9
                .uppy#kt_uppy_3
                  .uppy-drag
                  .uppy-informer
                  .uppy-progress
                  .uppy-thumbnails
            .form-group.row
              .col-lg-3
                label.col-form-label
                  span 連結
              .col-lg-9
                input.form-control.form-control-solid(type='text')
            .form-group.row
              .col-lg-3
                label.col-form-label
                  span 數量
              .col-lg-9
                input.form-control.form-control-solid(type='text')
            .form-group.row
              .col-lg-3
                label.col-form-label
                  span 備註
              .col-lg-9
                textarea.form-control.form-control-solid(rows='5')
            .form-group.row
              .col-lg-3
              .col-lg-9
                button.btn.btn-light-primary 新增代購

block script
  script(src="assets/plugins/custom/uppy/uppy.bundle.js")
  script.
    const ProgressBar = Uppy.ProgressBar;
    const Informer = Uppy.Informer;
    const Tus = Uppy.Tus;
    var id = '#kt_uppy_3';
    var uppyDrag = Uppy.Core({
      autoProceed: true,
      restrictions: {
        maxFileSize: 1000000, // 1mb
        maxNumberOfFiles: 5,
        minNumberOfFiles: 1,
        allowedFileTypes: ['image/*', 'video/*']
      }
    });
    uppyDrag.use(Uppy.DragDrop, { target: id + ' .uppy-drag' });
    uppyDrag.use(ProgressBar, {
      target: id + ' .uppy-progress',
      hideUploadButton: false,
      hideAfterFinish: false
    });
    uppyDrag.use(Informer, { target: id + ' .uppy-informer'  });
    uppyDrag.use(Tus, { endpoint: 'https://master.tus.io/files/' });

    uppyDrag.on('complete', function(file) {
      var imagePreview = "";
      $.each(file.successful, function(index, value){
        var imageType = /image/;
        var thumbnail = "";
        if (imageType.test(value.type)){
          thumbnail = '<div class="uppy-thumbnail"><img src="'+value.uploadURL+'"/></div>';
        }
        var sizeLabel = "bytes";
        var filesize = value.size;
        if (filesize > 1024){
          filesize = filesize / 1024;
          sizeLabel = "kb";
          if(filesize > 1024){
            filesize = filesize / 1024;
            sizeLabel = "MB";
          }
        }
        imagePreview += '<div class="uppy-thumbnail-container" data-id="'+value.id+'">'+thumbnail+' <span class="uppy-thumbnail-label">'+value.name+' ('+ Math.round(filesize, 2) +' '+sizeLabel+')</span><span data-id="'+value.id+'" class="uppy-remove-thumbnail"><i class="flaticon2-cancel-music"></i></span></div>';
      });
      $(id + ' .uppy-thumbnails').append(imagePreview);
    });

    $(document).on('click', id + ' .uppy-thumbnails .uppy-remove-thumbnail', function(){
      var imageId = $(this).attr('data-id');
      uppyDrag.removeFile(imageId);
      $(id + ' .uppy-thumbnail-container[data-id="'+imageId+'"').remove();
    });