extends ../layout/main

block variables
  - var page = 'addProduct';
  - var title = '新增代購商品';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  // begin::Container
  #kt_content_container.container-xxl
    // begin::Table
    .card.card-custom.mt-6.mt-xl-9
      // begin::Card header
      .card-header.mt-5.border-0
        // begin::Card title
        .card-title.flex-column
          h3.fw-bolder.mb-1 #{title}
          //- .fs-6.text-gray-400 Total $260,300 sepnt so far
        // begin::Card title
      // end::Card header
      // begin::Card body
      .card-body.pt-0
        // begin::Table container
        // begin::Card toolbar
        .mb-7
          .row.align-items-center
            .col
              .row.align-items-center
                .col-3
                  .input-icon
                    input.form-control.form-control-solid(type='number', placeholder='搜尋訂單編號', name='order_number')
                    span
                      i.flaticon2-search-1.text-muted
            .col-auto
              button.btn.btn-sm.btn-light-primary.px-6.font-weight-bold(type="button") 搜尋
        // begin::Card toolbar
        .table-responsive
          // begin::Table
          table.table.table-row-dashed.table-row-gray-300.gy-7
            thead
              tr.fw-bolder.fs-6.text-gray-800
                th #
                th 名稱
                th 帳號
                th 角色
                th 
            tbody
              tr
                td 1
                td 王小明
                td abcd
                td 會員
                td.text-right
                  button.btn.btn-sm.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer") 編輯
              tr
                td 2
                td 陳小春
                td test
                td 路人
                td.text-right
                  button.btn.btn-sm.btn-primary(type="button") 編輯
          // end::Table