extends ../layout/main

block variables
  - var page = 'member';
  - var title = '購物車確認頁面';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'index-page';

block content
  // begin::Container
  #kt_content_container.container-xxl
    // begin::Table
    .card.card-custom.mt-6.mt-xl-9
      //- // begin::Card header
      //- .card-header.mt-5.border-0
      //-   // begin::Card title
      //-   .card-title.flex-column
      //-     h3.fw-bolder.mb-1 #{title}
      //-     //- .fs-6.text-gray-400 Total $260,300 sepnt so far
      //- // end::Card header
      // begin::Card body
      .card-body
        .card.card-custom.gutter-b
          .card-body
            .d-flex.align-items-center
              .mr-5
                label.checkbox.checkbox-single
                  input(type='checkbox', value='1')
                  span
              // begin: Pic
              .flex-shrink-0.mr-7
                .symbol.symbol-50.symbol-lg-120
                  img(alt='Pic', src='assets/media/project-logos/3.png')
              // end: Pic
              // begin: Items
              .d-flex.flex-grow-1.flex-wrap.align-items-sm-center.ml-auto
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 名稱
                    span.font-weight-bolder.font-size-h5
                      | 2023/01/01
                // end: Item
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 數量
                    span.font-weight-bolder.font-size-h5
                      | 123
                // end: Item
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 備註
                    span.font-weight-bolder.font-size-h5
                      | 123
                // end: Item
        .card.card-custom.gutter-b
          .card-body
            .d-flex.align-items-center
              .mr-5
                label.checkbox.checkbox-single
                  input(type='checkbox', value='1')
                  span
              // begin: Pic
              .flex-shrink-0.mr-7
                .symbol.symbol-50.symbol-lg-120
                  img(alt='Pic', src='assets/media/project-logos/3.png')
              // end: Pic
              // begin: Items
              .d-flex.flex-grow-1.flex-wrap.align-items-sm-center.ml-auto
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 名稱
                    span.font-weight-bolder.font-size-h5
                      | 2023/01/01
                // end: Item
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 數量
                    span.font-weight-bolder.font-size-h5
                      | 123
                // end: Item
                // begin: Item
                .d-flex.align-items-center.flex-fill.mr-5.my-1
                  .d-flex.flex-column.text-dark-75
                    span.font-weight-bolder.font-size-sm 備註
                    span.font-weight-bolder.font-size-h5
                      | 123
                // end: Item
        .row
          .col-auto.ml-auto
            button.btn.btn-light-primary(type="button") 確認下單